<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testNG2.BeforeAfterSuite" />
			<class name="testNG.Example2" />
			<class name="testNG.Example1" />
			<class name="testNG.Example4" />
			<class name="testNG.Example3" />
			<class name="testNG.ActiTimeUtilitySample" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
